
<div class="container">
  <div class="row">

    <div class="col-lg-4">

      <h1>Filtrar por:</h1>
      <form [formGroup]="buscador" (ngSubmit)="requisitos()" novalidate>
        <div class="input-group mb-5">
          <input type="text" class="form-control" formControlName="palabras">
          <div class="input-group-prepend">
            <button class="btn material-icons border-right border-top border-bottom">search</button>
          </div>
        </div>
        <div class="col d-flex flex-column">
          <div id="wrapper-ubicacion">
            <label class="form-label">Ubicación</label>
            <div class="form-check col">
              <input class="form-check-input" type="checkbox" formControlName="nacional">
              <label class="form-check-label">Nacional</label>
            </div>
            <div class="form-check col">
              <input class="form-check-input" type="checkbox" formControlName="internacional">
              <label class="form-check-label">Internacional</label>
            </div>
            <div class="form-check col">
              <input class="form-check-input" type="checkbox" formControlName="teletrabajo">
              <label class="form-check-label">Teletrabajo</label>
            </div>
          </div>

          <div id="wrapper-jornada">
            <label class="form-label mt-5">Jornada</label>
            <div class="form-check col-12">
              <input class="form-check-input" type="checkbox" formControlName="tiempoCompleto">
              <label class="form-check-label">Tiempo completo</label>
            </div>
            <div class="form-check col-12">
              <input class="form-check-input" type="checkbox" formControlName="tiempoParcial">
              <label class="form-check-label">Tiempo Parcial</label>
            </div>
            <div class="form-check col-12">
              <input class="form-check-input" type="checkbox" formControlName="porHoras">
              <label class="form-check-label">Por horas</label>
            </div>
          </div>
          <div id="wrapper-salario" class="mt-5">
            <label for="salario" class="form-label col-12">Salario</label>
            <input type="range" min="0" max="3000" value="0" class="col-12 form-range" id="salario" formControlName="salario">
            <div class="d-flex flex-wrap justify-content-between">
              <label class="form-label">$0</label>
              <label class="form-label">$1500</label>
              <label class="form-label">$3000</label>
            </div>
          </div>
        </div>
      </form>
      <span class="btn btn-success mt-5" (click)="crearEmpleo()">Crear nueva oferta laboral</span>
    </div>

    <div class="col-8">
      <div class="text-center">
        <div class="spinner-border text-center text-primary" role="status" *ngIf="!estado">
        </div>
      </div>
      <div class="container-fluid">
        <div class="media border m-5" id="media"   *ngFor="let empleo of bolsa">
          <div class="container-fluid" [routerLink]="['/empleo',empleo._idempleo]" routerLinkActive="router-link-active">
            <div class="media-body m-5" >
              <h1>{{empleo.titulo}}</h1>
              <h3>{{empleo.empresa}} | {{empleo.pais}}, {{empleo.ciudad}}</h3>
              <footer class="blockquote-footer">Hace {{empleo.fecha | amLocale:"es" | amTimeAgo:true}}</footer>
            </div>
            <img class="m-5 rounded align-self-center" style="width:140px; height: 125px;" src="{{empleo.imagen}}">
          </div>
          <span class="material-icons text-white btn btn-danger" (click)="borrarEmpleo(empleo._idempleo)">close</span>
        </div>
      </div>
    </div>
  </div>
</div>
