<!--
    Los cursos son obtenidos desde el ts de esta carpeta
    que a su vez, este ts obtiene los datos en app/cursos.service.ts
-->

<h1 class="titulo">Cursos disponibles</h1>
<div class="cursos">
    <div class="listaCursos" *ngFor="let video of listaCursos">
        <!--Solo seleccionar los videos de id = 1 y modulo = 1, para asi solo obtener 1 video por curso-->
        <div *ngIf="(video.id_video_curso == 1) && (video.modulo == 1)">
            <div class="card">
                <!--Opciones de video-->
                <iframe 
                    src="https://www.youtube.com/embed/AEiRa5xZaZw"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                <!--Cuerpo-->
                <div class="card-body" id="carta-cuerpo">
                    <div class="card-tittle">
                        <h3 id="carta-titulo">{{video.titulo}}</h3>
                    </div>
                    <div class="card-text">
                        <h4 id="carta-texto">{{video.total}} Módulos</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>