/* Colores */
$primario: rgb(223, 223, 223);
$secundario: rgb(30, 30, 35);

.bg-primario{
    background-color: $primario;
}
.bg-secundario{
    background-color: $secundario;
}
.primario {
    color:$primario;
}

@media (min-width: 800px){
    #container-principal {
        margin-top: 42px;
        border-left: 3px solid $primario;
        height: 127vh;
    }
}

#texto-carta {
    margin-bottom: -10px;
    margin-top: 5px;
    margin-left: 18px;
}

.boton-custom {
    border: 2px solid $secundario;
    background-color: white;
    color: $secundario;
    padding: 14px 28px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
}

.boton-custom:hover {
    background-color: $secundario;
    color: $primario;
}