<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="container border-bottom">
        <div class="media border mb-5 bg-grey rounded">
          <div class="media-body m-5">
            <p class="h3 text-justify">{{empleo?.titulo}}</p>
            <p class="text-justify">{{empleo?.descripcion}}</p>

            <div class="container">
              <div class="row">
                <div class="col-6 d-flex flex-column">
                    <p class="font-weight-light">{{empleo?.empresa}} | {{empleo?.ciudad}}, {{empleo?.pais}}</p>
                    <p><span class="material-icons">watch_later</span>  {{empleo?.fecha | amLocale:'es' | amTimeAgo:true}}</p>
                </div>

                <div class="col-6 d-flex flex-wrap-reverse justify-content-end align-content-end">
                  <div *ngIf="!estado">
                    <button class="btn btn-color" (click)="postular()">Postularme</button>
                  </div>

                  <div *ngIf="estado">
                    <button class="btn btn-success" >Postulado</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <p class="h3 mt-5 font-weight-bold">Ofertas relacionadas</p>
          <div class="media border bg-grey rounded mt-5" [routerLink]="['/empleo',empleo._idNoticia]" routerLinkActive="router-link-active" *ngFor="let empleo of empleoSugeridos">
            <div class="media border ml-3 mt-3" id="media">
              <div class="media-body">
                <h1>{{empleo?.titulo}}</h1>
                <h3>{{empleo?.empresa}} | {{empleo?.pais}}, {{empleo?.ciudad}}</h3>
                <footer class="blockquote-footer">Hace {{empleo?.fecha | amLocale:"es" | amTimeAgo:true}}</footer>
              </div>
              <img class="m-5 rounded align-self-center" style="width:140px; height: 125px;" src="{{empleo?.imagen}}">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>




