<div class="filtros">
    <div class="container-busqueda">
        <h1 class="titulo">Filtrar por:</h1>
        <form class="form-inline needs-validation mt-4">
            <input class="form-control mr-sm-2 margen-text" type="search" placeholder="Buscar curso" aria-label="Search" required>
            <button class="btn boton-custom my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>
    <h3 class="mt-2">Tematica</h3>
    <div class="container-checkbox">
        <div class="checkbox">
            <input type="checkbox" class="checkbox" name="Programacion" id="programacion">
            <label for="programacion">Programacion</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" class="checkbox" name="Programacion" id="programacion">
            <label for="programacion">Diseño</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" class="checkbox" name="Programacion" id="programacion">
            <label for="programacion">Humanidades</label>
        </div>
    </div>
    <h3 class="mt-4">Duracion</h3>
    <div class="container-checkbox">
        <div class="checkbox">
            <input type="checkbox" class="checkbox" name="Programacion" id="programacion">
            <label for="programacion">2 Módulos</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" class="checkbox" name="Programacion" id="programacion">
            <label for="programacion">3 Módulos</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" class="checkbox" name="Programacion" id="programacion">
            <label for="programacion">4 Módulos</label>
        </div>
    </div>
</div>