//colores
$primario: rgb(223, 223, 223);
$secundario: rgb(30, 30, 35);

//Clases que cambian con la resolucion
@media (min-width: 800px) {
    .filtros {border-right: 2px solid $primario}
}

//Clases normales
.titulo {
    font-size: xx-large;
}
.filtros {
    display: grid;
}
.boton-custom {
    border: 1px solid $secundario;
}
.container-busqueda {
    display: grid;
    grid-template-rows: 40px 120px;
}
.container-busqueda form input {
    width: auto;
}
.container-filtros-checkboxes{
    display: grid;
}
.container-checkbox {
    display: grid;
    gap: 10px;
    margin-left: 20px;
}
.checkbox label {
    color: $secundario;
    margin-left: 10px;
}