@mixin link-common{
    color: rgb(187, 187, 187);
    text-decoration: none;
}

a {@include link-common;}
a:hover {color:white}

#links li{
    margin-inline: 10px;
}

.navbar-padding {
    padding-inline: 5%;
}

.form-inline {
    flex-wrap: nowrap;
    margin: 13px;
}

.margen-text{
    margin-right: 8px;
}