/* Configuracion de colores navbar */
$primario: rgb(223, 223, 223);
$secundario: rgb(30, 30, 35);

@mixin navbar-colors {
    color: $primario;
    background-color: $secundario;
}

/* Configuracion para los links */
@mixin link-normal-conf{
    color: $primario;
    text-decoration: none;
}

/* Clases */
.navbar-colores {
    @include navbar-colors;
}

a {@include link-normal-conf;}
a:hover {color:$primario;}

#logo {
    width: 180px;
    height: 80px;
    object-fit: none;
}

ul#links {
    font-size: medium;
    border-right: 1px solid $primario;
    margin-right: 2%;
}

#links li{
    margin-inline: 10px;
}

.navbar-padding {
    padding-inline: 5%;
}

.form-inline {
    flex-wrap: nowrap;
    margin: 13px;
}

.margen-text{
    margin-right: 8px;
}