img {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

h3{
    margin-top: 1rem;
}

div#cursos-terminados.contenedor{
    display: inline-block;
    padding-right: 3rem;
}

div.container.mt-3{
    display: flex;
}

div{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 20px;
}

a.btn.btn-primary{
    align-items: center;
    background-color: #313F4F;
    size: 4rem;
    margin-left: 25%;
}

h3.card-title{
    margin-left: 15%;
}

h3.card-titulo{
    margin-left: 15%;
}


// Ventana emergente de certificado
.window-notice {
    background: rgba(33, 41, 52, .85);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
}

.window-notice .content {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    min-width: 320px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 2rem;
    font-size: 1.3rem;
}
