<!---------------------------------------------------------->
<!--    Este documento .html se encuentra en prueba       -->
<!--    Para salir del modo de prueba                     -->
<!--    mirar el id de los ngif y corregir la condicion   -->
<!---------------------------------------------------------->

<div *ngIf="loginEstate" id="loginTrue">
    <app-navbar></app-navbar>
    <!--Bordes laterales y color de texto-->
    <div class="cuerpo-detras bg-secundario text-terciario">
        <div class="p-5 mb-2 cuerpo-delante bg-primario bordeado">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<div *ngIf="!loginEstate" id="loginFalse">
    <router-outlet></router-outlet>
</div>

