/* Medidas para las bandas laterales de colores en el cuerpo */
@mixin medidas { padding-inline: 10%; }

/* Colores de la pagina */
$secundario: rgb(201, 201, 201);
$primario: rgb(250, 250, 250);

/* Clases colores */
.bg-secundario { background-color: $secundario; }
.bg-primario { background-color: $primario; }
.text-secundario { color: $secundario; }
.text-primario { color: $primario; }

/* Resolucion video */
//Monitor
@media (min-width: 768px) {
    #video-cursos-recientes {
        width: 400px;
        height: 300px;
    }
}

//Celular
@media (max-width: 800px) {
    #video-cursos-recientes {
        width: 211px;
        height: 180px;
    }
}

/* Cuerpo */
.cuerpo-detras {
    background-color: $secundario;
    @include medidas;
}

.cuerpo-delante {
    background-color: $primario;
    @include medidas;
}

.bordeado {
    border: gray solid 1px;
    border-bottom: 0;
    border-top: 0;
}

/* Cartas */
#carta-titulo {
    margin-bottom: 0;
}
#carta-texto {
    margin-bottom: 0;
}
