/*
 * IMPORTANTE
 * Para las opciones de media:
 * min-width 800px se utiliza para el tamaño normal de un monitor
 * max-widt 800px se utiliza para el tamaño normal de un celular
 *
*/

/* Colores */
$primario: rgb(223, 223, 223);
$secundario: rgb(30, 30, 35);

@media (min-width: 800px) {
    #container-cuerpo {
        margin: 50px;
    }
}

.linea-horizontal {
    border: 0.5px solid $primario;
    border-collapse:separate;
}