<div class="cuerpo-detras bg-secundario">
    <div class="p-5 mb-2 cuerpo-delante bg-primario bordeado">

        <h1 class="p-3">Continúa tus cursos</h1>
        
        <div class="container d-inline-flex">
            <!--Tarjeta de video 1-->
            <div class="card bg-secundario" style="width: max-content;">
                <!--Opciones de video-->
                <iframe 
                    id="video-cursos-recientes"
                    src="https://www.youtube.com/embed/L1oMLsiMusQ"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                <!--Cuerpo-->
                <div class="card-body">
                    <div class="card-tittle">
                        <h3 id="carta-titulo">Curso de programación</h3>
                    </div>
                    <div class="card-text">
                        <h4 id="carta-texto">Módulo 2: Clase 5</h4>
                    </div>
                </div>
            </div>
            <!--Tarjeta de video 2-->
            <div class="card bg-secundario" style="width: max-content;">
                <!--Opciones de video-->
                <iframe 
                    id="video-cursos-recientes"
                    src="https://www.youtube.com/embed/Cs5ymoNkrX8"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                <!--Cuerpo-->
                <div class="card-body">
                    <div class="card-tittle">
                        <h3 id="carta-titulo">Curso de programación</h3>
                    </div>
                    <div class="card-text">
                        <h4 id="carta-texto">Módulo 2: Clase 5</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="container my-5" id="ver-mas">
            <button class="btn rounded bg-dark text-white">
                Ver más cursos
            </button>
        </div>
    </div>
</div>